.titlebar {
  background: var(--titlebar-bg);
  height: 30px;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.85rem;
  border-bottom: 1px solid #191d20;
}

.items {
  flex: 1;
  display: flex;
  margin-right: auto;
  margin-left: 0.5rem;
}

.title {
  flex: 1;
  text-align: center;
}

.items > * {
  padding: 0 0.5rem;
  cursor: pointer;
}

.windowButtons {
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.windowButtons * {
  margin-left: 0.5rem;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  cursor: pointer;
}

.minimize {
  background: #f1fa8c;
  margin-left: auto;
  animation: glowYellow 2s ease-in-out infinite;
}

.maximize {
  background: #50fa7b;
  animation: glowGreen 2s ease-in-out infinite;
}

.close {
  background: #ff5555;
  animation: glow 2s ease-in-out infinite;
}

@keyframes glow {
  0%, 100% {
    box-shadow: 0 0 5px #ff5555, 0 0 10px #ff5555;
    opacity: 1;
  }
  50% {
    box-shadow: 0 0 15px #ff5555, 0 0 25px #ff5555;
    opacity: 0.2;
  }
}

@keyframes glowYellow {
  0%, 100% {
    box-shadow: 0 0 5px #f1fa8c, 0 0 10px #f1fa8c;
    opacity: 1;
  }
  50% {
    box-shadow: 0 0 15px #f1fa8c, 0 0 25px #f1fa8c;
    opacity: 0.2;
  }
}

@keyframes glowGreen {
  0%, 100% {
    box-shadow: 0 0 5px #50fa7b, 0 0 10px #50fa7b;
    opacity: 1;
  }
  50% {
    box-shadow: 0 0 15px #50fa7b, 0 0 25px #50fa7b;
    opacity: 0.2;
  }
}

@media screen and (max-width: 900px) {
  .items p {
    display: none;
  }
  .title {
    flex: 4;
  }
}
